html{
    font-size:36px;
    font-family:'Verdana',sans-serif;
}

.title{
    font-size:56px;
    display:flex;
    justify-content: center;
    margin:50px;
}

body{
    background: linear-gradient(#fcfcfc,#6b6b6b);
    height: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

.status{
    display:flex;
    justify-content: space-around;
    margin: 50px;
}

#results{
    display:flex;
    justify-content: space-around;
    margin: 50px;
}

.buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 50px;
    margin-left:75px;
    margin-right:75px;
}

.playerButtons{
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    background-color: transparent;
}

#Rock{
    background-image: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/da268f06e621b21.png");
    background-position: center;
    background-size: 115px;
    background-repeat: no-repeat;
}

#Paper{
    background-image: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/b6180e16e66c589.png");
    background-position: center;
    background-size: 105px;
    background-repeat: no-repeat;
}

#Scissors{
    background-image: url("https://img.freepik.com/free-icon/cut_318-345329.jpg");
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat;
}

.playerButtons:hover{
    border-color:goldenrod;
    border-width: 10px;
    transform: scale(1.2);
}
